<div class="about-section">
  <a name="about"></a><div class="content-wrap">
    <div class="intro-image">
      <img src="../images/profilephoto.jpg" alt="Tre Bey" />
    </div>
    <br>
    <h3>About</h3>
    <p class='intro-bio'>
      Hi, I'm Tre Bey. I write blogs here at I Am Bey, and make websites for people who need them. Being born and raised in Chicago, I see the opportunities of this world as a launching pad for expression in many ways. I am energy; therefore I am light. So, meeting and building with people who have the mind for creating great things and enjoying the journeys of life is what makes the experience so great. If you have a business, idea or simply want to reach out and connect, feel free to contact me on all the things (social or email).
    </p>
    <h3>Mission</h3>
    <p class='intro-bio'>
      I view myself as a business and a personal brand, so my goals are to be efficient while creating value for my clients. My business model is to provide service of the best possible quality that I am capable, as a web designer, for small business owners and independent brands. My goal is to work closely with you, in order to offer the most effective pricing plans, while providing a high quality platform, where you can build a long lasting brand. My focus is to be cost efficient, to provide options, and to solve any problems that you may have, as I am designing your website for optimum effectiveness. Whether you need a website for ecommerce, portfolio, blog, service  or art, I am here to help get you just what you need.
    </p>
  </div>
</div>
