<div class="work-section">
  <div class="content-wrap">
    <a name="design"></a><div class="work-section-wrapper">
      <h3>We all have goals and aspirations.</h3>
      <h4>But sometimes we need some help putting the pieces together.</h4>
      <div class="social-work">
        <h3>If you need something designed or developed, tell me about it. I'm here to help.</h3>
        <ul>
          <a href="mailto:{{ site.email }}"><img src="../images/icons-red/mail2.svg" alt="Email" /></a>
          <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><img src="../images/icons-red/twitter.svg" alt="Twitter" /></a>
          <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank"><img src="../images/icons-red/linkedin2.svg" alt="LinkedIn" /></a>
        </ul>
      </div>
    </div>
  </div>
</div>
