
.posts {
  margin: 0;
}

.posts .post {
  margin-bottom: 0;
  border-bottom: thin solid #f3f3f3;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .375em;
  padding-bottom: 0;
}

.post-link .post-title,
.post-header h1 {
  margin-top: 0;
  font-family: $display;
  font-size: $h2;
  font-weight: 700;
  color: $blue;
}

.post-header h1 {
  font-size: $h1;
}

.post-summary {
  font-size: $h4;
  font-family: Merriweather, $georgia;
}

.post-content p {
  font-family: Merriweather, $georgia;
}

.post-footer {
  @extend .italic;

  margin-top: .75rem;
  text-align: center;
}

.post-footer .avatar {
  margin: 2rem 0;
  width: 100px;
  border-radius: 50%;
}

.meta,
.post-meta {
  width: auto;
  font-weight: 300;
  margin: 0;
  padding: .25em 0;
  color: #7a7a7a;
  font-style: italic;
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}

.share-page {
  @include fill-parent;
  text-align: center;
  margin-top: rem(75);
}
